@import '../../routes/layout/colors';

.container{
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid $light-primary;
	color: $light-primary;
	border-radius: 200px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	margin: 8px 16px 8px 0;
	cursor: pointer;
	transition: all .1s;
	background: transparent;
	&:hover{
		background: $light-primary;
		color: $off-white;
	}
	&.grey{
		border-color: $grey;
		color: $grey;
		&:hover{
			background: $grey;
			color: $light-primary;
		}
		&.disabled{
			background: $grey;
			color: $light-primary;
			opacity: .5;
			pointer-events: none;
		}
	}
	&.disabled{
		opacity: .5;
		pointer-events: none;
	}
	&:focus {
		outline: 0;
	}
}
