@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lora:regular,bold,italic&subset=latin,latin-ext');
@import './colors';

body{
	margin: 0;
	background: $off-white;
}

h1, h2, h3, a, body{
	font-family: 'Roboto', sans-serif;
}

h2{
	font-weight: 400;
	margin: 0;
}

p, input, textarea{
	font-family: 'Lora', sans-serif;
}

.container{
	display: block;
}

.nav {
	position: fixed;
	left: 0;
	top: 0;
	margin-top: 20px;

	display: none;

	a {
		padding: 5px 10px 5px 0;
	}
}
